{% load static wagtailuserbar sekizai_tags compress lcrs_tags bootstrap_tags %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %} | Large-scale Computer Reuse Suite</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% compress css %}
      <link rel="stylesheet" type="text/x-scss" href="{% static 'css/lcrsweb.scss' %}">
  {% endcompress %}

    <link rel="shortcut icon" type="image/png" href="{% static "img/lcrs_256x256.png" %}" />

  {% render_block "css" %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}


    {% if messages %}
      <div class="container">

        {% for message in messages %}
        <div class="alert alert-{{ message|bootstrap_message_tag }} alert-dismissible fade in" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
        {% endfor %}

      </div>
    {% endif %}

    <div class="container">

      <div class="lcrsheader">
        <div style="table-row">
          <a href="/" style="display: table-cell; padding-right: 30px;"><img src="{% static "img/lcrs_256x256.png" %}" class="img-fluid" style="width: 128px"></a>
          <div style="display: table-cell; vertical-align: middle">
            <h1 style="margin-bottom: -8px; margin-left: -2px">
              <a href="/">LCRS</a>
            </h1>
            <div class="text-muted"><small>Large-scale Computer Reuse Suite</small></div>
          </div>
        </div>
        <nav style="margin-top: 10px">
          <ul class="nav nav-justified">
            {% get_menu as top_menu %}
            {% for item in top_menu %}
            <li class="nav-item">
              <a class="nav-link {% if item.pk == page.pk %} active{% endif %}" href="{{ item.url }}">
                {{ item.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>

      <!-- Jumbotron -->
      <div class="jumbotron" style="background: url('{% static 'img/jumbotron_splash.jpeg' %}')">
        <h1>
        For the benefit of people and the planet: Let's be efficient and effective at re-using and refurbishing computers.</h1>
        <h1>...and let's do it <strong>large-scale!</strong>
        </h1>
        <form method="POST" action="{% url 'mailing-list-signup' %}" class="form-inline">
          {% csrf_token %}
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Your email...">
            <button class="btn btn-primary">Notify me of launch...</button>
          </div>
        </form>
      </div>

    </div>

    {% block content %}{% endblock %}

    <div class="container">
      <!-- Site footer -->
      <footer class="footer">
        <p>&copy; Benjamin Bach & FAIR Danmark 2016</p>
      </footer>

    </div> <!-- /container -->


    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    {% render_block "js" %}
</body>
</html>
